streamlit>=1.25.0
streamlit-drawable-canvas>=0.9.3
torch>=2.0.0
torchvision>=0.15.0
einops>=0.6.0
huggingface-hub>=0.16.0
matplotlib>=3.7.0
numpy>=1.24.0
Pillow>=9.5.0 
wandb>=0.20.1
qwen-vl-utils>=0.0.8
accelerate>=1.8.1
transformers>=4.53.0
datasets>=2.21.0